<!DOCTYPE html>
<html>
  <head>
     <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
   <%include partials/header%>

   <main>
     <h2 class="home-heading">Welcome to the Home Page</h2>
     <div class="add-new">
        <a  href="/">
         <button class="btn">Go to Events</button>
        </a>
     </div>
     
   </main>
  </body>
</html>
