<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/event-management/public/stylesheets/style.css">
</head>
<body>
  <form action="/remarks/<%= remark.id %>" method="POST">
    <h2 style="margin-top: 0.5rem; color: white; font-size: 1.5rem;"  class="text-align">Upadte remark</h2>
    <div style="align-items: center;" class="flex flex-c">
       <textarea style="width: 20%;"  name="text" cols="" rows="3" placeholder="Update remark">
      <%= remark.text %>
      </textarea>
      <button style="width: 20%;" type="submit">Update remark</button>
    </div>
  </form>
</body>
</html>