<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <h1 class="common-header">Own Your Events at Every Stage</h1>
    <p>
        From small workshops and webinars to multi-day summits with thousands of attendees, Glue Up’s automated events platform makes event planning faster and more efficient for the whole team.
        </p>
  </header>
</body>
</html>